.header__block {
    max-width: 1170px;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    min-width: 300px;
}

@media screen and (max-width: 1215px) {
    .header__block {
        margin: 0 20px;
    }
 }

@media screen and (max-width: 550px) {
   .header__block {
      flex-wrap: wrap;
   }
}